[Unit]
Description=Run the network_check.service every 10 minutes

[Timer]
OnBootSec=5min
OnCalendar=*:0/10
Unit=network_check.service

[Install]
WantedBy=timers.target